# build / flutter
.dart_tool/
build/
*.log

# local backups
_patch_backup/
*.bak_*
windows/runner/*.bak_*

# local reports (если где-то сохраняешь)
BlueVPN_Reports/
Desktop/BlueVPN_Reports/

# temp / misc
query