# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.pub-cache/
pubspec.lock
coverage/
.idea/
*.iml
.vscode/
*.log
**/android/local.properties
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
