<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="pro.greenvpn.awg2.GreenVpnAwg2VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:process=":greenvpn_awg2"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
