<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="pro.greenvpn.vless.VlessRealityPermissionDebugActivity"
            android:permission="android.permission.DUMP"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="pro.greenvpn.naive.NaiveHttpsPermissionDebugActivity"
            android:permission="android.permission.DUMP"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="pro.greenvpn.dnstt.DnsttPermissionDebugActivity"
            android:permission="android.permission.DUMP"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <receiver
            android:name="pro.greenvpn.hysteria.Hysteria2DebugReceiver"
            android:process=":greenvpn_hysteria"
            android:permission="android.permission.DUMP"
            android:exported="true">
            <intent-filter>
                <action android:name="pro.greenvpn.hysteria.DEBUG_CONTROL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="pro.greenvpn.vless.VlessRealityDebugReceiver"
            android:process=":greenvpn_vless"
            android:permission="android.permission.DUMP"
            android:exported="true">
            <intent-filter>
                <action android:name="pro.greenvpn.vless.DEBUG_CONTROL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="pro.greenvpn.naive.NaiveHttpsDebugReceiver"
            android:process=":greenvpn_naive"
            android:permission="android.permission.DUMP"
            android:exported="true">
            <intent-filter>
                <action android:name="pro.greenvpn.naive.DEBUG_CONTROL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="pro.greenvpn.dnstt.DnsttDebugReceiver"
            android:process=":greenvpn_dnstt"
            android:permission="android.permission.DUMP"
            android:exported="true">
            <intent-filter>
                <action android:name="pro.greenvpn.dnstt.DEBUG_CONTROL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
